@import "tailwindcss";

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #1e293b 0%,
    #334155 50%,
    #0f172a 100%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
